@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<div class="site_wrapper">
    <div class="main_wrapper">
        <div class="content_wrapper">
            <div class="container">
                <div class="content_block row no-sidebar">
                    <div class="fl-container">
                        <div class="row">
                            <div class="posts-block">
                                <div class="contentarea">
                                    
                                 
                                    <div class="row">
                                        <div class="span12 module_number_2 module_cont pb0 module_html">
                                            <div class="module_content contact_form">
                                                <div id="note"></div>
                                          
                                                <div class="row">
                                                    <div class="span6 first-module module_number_1 module_cont pb0 module_text_area">
                                                        <div class="module_content">
                                                            <p><img src="~/Template/img/about-picture.jpg" alt="" width="460" height="344" /></p>
                                                        </div>
                                                    </div><!-- .module_cont -->
                                                    <div class="span6 module_number_2 module_cont no_margin module_text_area pb0">
                                                        <div class="bg_title"><h2 class="headInModule">CÔNG TY TNHH THƯƠNG MẠI - DỊCH VỤ - DU LỊCH NHƯ TRUNG</h2></div>
                                                        <div class="module_content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue eu elit eget id, tristique ultricies tellus. Donec cursus convallis nunc eu gravida. In at aliquet metus etiam cursus in libero eget iaculis. Duis dictum non massa nec a eget eleifend. Mauris dapibus, orci eu sodales venenatis, dui leo semper magna, et auctor metus &nbsp;vulputate convallis massa, non lobortis mi auctor sit amet. Nullam nec sem ac eros lacinia euismod. Nam nec ex vel eros tus etiam cursus in libero convallis viverra.</p>
                                                            <p>Quisque nec tincidunt velit. Nulla lectus lacus, ultricies sed orci sed, rutrum efficitur velit. Proin eget gravida turpis. Aenean quis nibh sit amet purus malesuada varius &nbsp;donec mauris diam, blandit vel neque vitae, malesuada vulputate metus aenean est ligula id elit gravida varius. Nunc imperdiet ante in est volutpat, fermentum ac rutrum lorem maximus. Nullam facilisis nisi ipsum, a tempor elit porttitor quis.</p>
                                                            <p>&nbsp;</p>
                                                            <p><a href="contacts_fullscreen.html" class="shortcode_button btn_small btn_type1">Contact Us</a></p>
                                                        </div>
                                                    </div><!-- .module_cont -->
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- #endregion Jssor Slider End -->
@Scripts.Render("~/bundles/jquery")
<script src="~/Template/js/jssor.slider-23.1.6.mini.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {

            var jssor_1_options = {
              $AutoPlay: 1,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,
                $Cols: 4,
                $SpacingX: 4,
                $SpacingY: 4,
                $Orientation: 2,
                $Align: 0
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 900);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*responsive code end*/
        });
</script>
<script>

    jQuery(document).ready(function () {
        "use strict";
        centerWindow();
        body.addClass('centered_page');
    });
    jQuery(window).load(function () {
        "use strict";
        centerWindow();
    });
    jQuery(window).resize(function () {
        "use strict";
        centerWindow();
        setTimeout('centerWindow()', 500);
        setTimeout('centerWindow()', 1000);
    });
    function centerWindow() {
        "use strict";
        var setTop = (window_h - site_wrapper.height() - parseInt(site_wrapper.css('padding-top')) - parseInt(site_wrapper.css('padding-bottom'))) / 2;
        var setLeft = (window_w - header_w - site_wrapper.width() - parseInt(site_wrapper.css('padding-right')) - parseInt(site_wrapper.css('padding-left'))) / 2 + header_w;
        if (setTop < 0) {
            site_wrapper.addClass('fixed');
            site_wrapper.css({ 'top': 0 + 'px', 'margin-left': setLeft + 'px' });
        } else {
            site_wrapper.css({ 'top': setTop + 'px', 'margin-left': setLeft + 'px' });
            site_wrapper.removeClass('fixed');
            jQuery('body').removeClass('addPadding');
        }
    }
  

</script> 
