/* Template Options */

/*
	--//-- 1. Color Options --//--

	- Theme color - 00d8ff (rgba - 0,216,255);
	- Header background color - 000000 (rgba - 0,0,0);
	- Header text color - ffffff;
	- Main menu text color - ffffff;
	- Sub-menu text color - ffffff;
	- Sub-menu border - 393b3b;
	- Body background color - ffffff;
	- Main text color - ffffff;
	- Heading color - ffffff;
	- Content block background color - 000000;
	- Footer copyright color - ffffff;
	
	--//-- 2. Fonts --//--
   
	- Content font - Roboto;
	- Main menu font - Roboto;
	- Headers - Muli;
	
*/
	
.main_header {
	background:rgba(0,0,0,0.15); /* Header background color */
}
.main_header:before {
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))!important;
	background: -ms-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))!important;
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))!important;
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))!important; /* Header background color */
}
.main_header:after {
	background: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0))!important;
	background: -ms-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0))!important;
	background: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0))!important;
	background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0))!important; /* Header background color */
}
.main_header nav ul.menu > li > a,
ul.mobile_menu > li > a,	
.filter_toggler {
	color:#ffffff; /* Main menu text color */
}
ul.mobile_menu li a {
	color:#ffffff!important; /* Main menu text color */
}
.main_header nav .sub-menu a {
	color:#ffffff; /* Sub-menu text color */
}
ul.mobile_menu .sub-menu a {
	color:#ffffff!important; /* Sub-menu text color */
}
ul.mobile_menu .sub-menu:before,
ul.mobile_menu ul.sub-menu li:before,
.main_header nav ul.menu .sub-menu:before,
.main_header nav ul.sub-menu li:before {
	background:#393b3b; /* Sub-menu border */
}
footer .copyright {
	color:#ffffff; /* Footer copyright color */
}
.site_wrapper {
	background:rgba(0,0,0,0.35); /* Content block background color */
}
h5.shortcode_accordion_item_title,
h5.shortcode_toggles_item_title,
h5.shortcode_accordion_item_title.state-active {
	color:#ffffff!important; /* Main text color */
}
body,
.preloader {
	background:#ffffff; /* Body background color */
}
p, td, div,
input {
	color:#ffffff; /* Main text color */
	font-family:Roboto; /* Content font */
	font-weight:400;
}
.fs_descr {
	font-family:Roboto!important; /* Content font */
}
a:hover {
	color:#ffffff; /* Main text color */
	font-weight:400;
}

.main_header nav ul.menu li a,
.main_header nav ul.menu li span,
ul.mobile_menu li a,
ul.mobile_menu li span,
.filter_toggler {
	font-family: Roboto; /* Main menu font */
	font-size: 11px;
	line-height: 13px;
}

::selection {background:#00d8ff; /* Theme color */
}
::-moz-selection {background:#00d8ff; /* Theme color */
}

.main_header nav ul.sub-menu > li:hover > a,
.main_header nav ul.sub-menu > li.current-menu-item > a,
.main_header nav ul.sub-menu > li.current-menu-parent > a,
.mobile_menu > li.current-menu-item > a,
.mobile_menu > li.current-menu-parent > a,
a,
blockquote.shortcode_blockquote.type5:before,
.main_header nav ul.menu li:hover > a,
.main_header nav ul.menu li.current-menu-ancestor > a,
.main_header nav ul.menu li.current-menu-item > a,
.main_header nav ul.menu li.current-menu-parent > a,
ul.mobile_menu li.current-menu-ancestor > a span,
ul.mobile_menu li.current-menu-item > a span,
ul.mobile_menu li.current-menu-parent > a span,
.dropcap.type2,
.dropcap.type5,
.widget_nav_menu ul li a:hover,
.widget_archive ul li a:hover,
.widget_pages ul li a:hover,
.widget_categories ul li a:hover,
.widget_recent_entries ul li a:hover,
.widget_meta ul li a:hover,
.widget_posts .post_title:hover,
.shortcode_iconbox a:hover .iconbox_title,
.shortcode_iconbox a:hover .iconbox_body,
.shortcode_iconbox a:hover .iconbox_body p,
.shortcode_iconbox a:hover .ico i,
.price_item.most_popular h1,
.featured_items_title h5 a:hover,
.optionset li a:hover,
.portfolio_dscr_top h3 a:hover,
.portfolio_block h5 a:hover,
.blogpost_title a:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
.author_name a:hover,
.header_filter .optionset li.selected a,
.filter_toggler:hover {	
	color:#00d8ff; /* Theme color */
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color:#00d8ff; /* Theme color */
	-webkit-font-smoothing: antialiased;
}

input[type="text"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color:#00d8ff; /* Theme color */
	opacity: 1;
	-moz-osx-font-smoothing: grayscale;
}

input[type="text"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
.widget_posts .post_title:hover {
	color:#00d8ff; /* Theme color */
}

h5.shortcode_accordion_item_title:hover,
h5.shortcode_accordion_item_title.state-active,
h5.shortcode_toggles_item_title:hover,
h5.shortcode_toggles_item_title.state-active {
	color:#00d8ff!important; /* Theme color */
}

.highlighted_colored,
.shortcode_button.btn_type5,
.shortcode_button.btn_type4:hover,
h5.shortcode_accordion_item_title:hover .ico,
h5.shortcode_toggles_item_title:hover .ico,
h5.shortcode_accordion_item_title.state-active .ico,
h5.shortcode_toggles_item_title.state-active .ico,
.box_date .box_month,
.preloader:after,
.price_item.most_popular .price_item_title,
.price_item.most_popular .price_item_btn a,
.price_item .price_item_btn a:hover,
.shortcode_button.btn_type1:hover	{
	background-color:#00d8ff; /* Theme color */
}
#mc_signup_submit:hover,
.shortcode_button.btn_type4:hover,
.load_more_works:hover,
.pp_wrapper input[type="submit"]:hover,
.search_button:hover {
	background-color:#00d8ff!important; /* Theme color */
}
blockquote.shortcode_blockquote.type5 .blockquote_wrapper,
.widget_tag_cloud a:hover,
.fs_blog_top,
.simple-post-top,
.widget_search .search_form,
.module_cont hr.type3,
blockquote.shortcode_blockquote.type2 {
	border-color:#00d8ff; /* Theme color */
}

/* Fonts Families and Sizes */
* {
	font-family:Roboto; /* Content font */
	font-weight:400;
}
p, td, div,
blockquote p,
input,	
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	font-size:12px;
	line-height:20px;
}
.main_header nav ul.menu > li > a,
ul.mobile_menu > li > a {
	font-size:11px;
	line-height: 13px;
}
.main_header nav ul.menu > li > a:before,
ul.mobile_menu > li > a:before {
	line-height: 13px;
}
h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: Muli; /* Headers */
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	padding:0;
	color:#ffffff; /* Heading color */
}
blockquote.shortcode_blockquote.type3:before,
blockquote.shortcode_blockquote.type4:before,
blockquote.shortcode_blockquote.type5:before,
.dropcap,
.shortcode_tab_item_title,
.shortcode_button,
input[type="button"], 
input[type="reset"], 
input[type="submit"],
a.shortcode_button,
.search404.search_form .search_button {
	font-family: Muli; /* Headers */
}
.sidebar_header {
	font-family: Muli; /* Headers */
}	
.load_more_works {
	font-family: Muli; /* Headers */
	color:#ffffff; /* Heading color */
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;		
}
.box_date span,
.countdown-row .countdown-section:before,
.countdown-amount,
.countdown-period {
	font-family: Muli; /* Headers */
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;		
}
.iconbox_header .ico i,
.title,
.comment-reply-link:before,
.ww_footer_right .blogpost_share span {
	color:#ffffff; /* Heading color */
}
a.shortcode_button,
.chart.easyPieChart,
.chart.easyPieChart span,
input[type="button"],
input[type="reset"],
input[type="submit"],
.search404 .search_button {
	font-family: Muli; /* Headers */
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;		
}
h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	font-weight:400;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;		
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased; 		
}
h1, h1 span, h1 a {
	font-size:26px;
	line-height:28px;
}
h2, h2 span, h2 a {
	font-size:22px;
	line-height:24px;
}
h3, h3 span, h3 a {
	font-size:19px;
	line-height:21px;
}
h4, h4 span, h4 a, 
h3.comment-reply-title,
h3.comment-reply-title a {
	font-size:16px;
	line-height:18px;
}
h5, h5 span, h5 a {
	font-size:14px;
	line-height:16px;
}
h6, h6 span, h6 a,
.comment_info h6:after {
	font-size:13px;
	line-height:15px;
}
@media only screen and (max-width: 760px) {
	.fw_content_wrapper {
		background:#ffffff!important; /* Body background color */
	}
}

/* Logo Size */
.logo_def,
.logo_retina {
	width:190px;
	height:90px;
}