
<!DOCTYPE html>
<html class="fullscreen">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="~/Template/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/Template/img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/Template/img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/Template/img/apple_icons_114x114.png">
<title>Diamond | Html Photography Template</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Template/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Template/css/responsive.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Template/css/custom.css" type="text/css" media="all" />

</head>
    <body>
         
        <header class="main_header">
            <div class="header_scroll">
               @RenderBody()
            </div>
        </header>
    
        <a href="javascript:void(0)" class="control_toggle"></a>
    
        <div class="custom_bg img_bg def_bg"></div>
    
        <script type="text/javascript" src="~/Template/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/Template/js/jquery-ui.min.js"></script>    
        <script type="text/javascript" src="~/Template/js/modules.js"></script>
        <script type="text/javascript" src="~/Template/js/theme.js"></script>
      
        <script>
            gallery_set = [
                { type: "image", image: "/Template/img/gallery/slider/1.jpg", thmb: "/Template/img/gallery/slider/thumbs/1.jpg", alt: "Sarah Brown", title: "Sarah Brown", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#ffffff", descriptionColor: "#ffffff" }
            ];
            //gallery_set = [
            // { type: "image", image: "~/Template/img/gallery/slider/1.jpg", thmb: "~/Template/img/gallery/slider/thumbs/1.jpg", alt: "Sarah Brown", title: "Sarah Brown", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
            // { type: "image", image: "~/Template/img/gallery/slider/2.jpg", thmb: "~/Template/img/gallery/slider/thumbs/2.jpg", alt: "", title: "", description: "", titleColor: "#000000", descriptionColor: "#000000" },
            // { type: "vimeo", uniqid: "4675", src: "115819122", thmb: "~/Template/img/gallery/slider/thumbs/3.jpg", alt: "", title: "", description: "", titleColor: "#000000", descriptionColor: "#000000" },
            // { type: "image", image: "~/Template/img/gallery/slider/4.jpg", thmb: "~/Template/img/gallery/slider/thumbs/4.jpg", alt: "Jessica Black", title: "Jessica Black", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquam mi mauris.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
            // { type: "image", image: "~/Template/img/gallery/slider/5.jpg", thmb: "~/Template/img/gallery/slider/thumbs/5.jpg", alt: "", title: "", description: "", titleColor: "#000000", descriptionColor: "#000000" },
            // { type: "image", image: "~/Template/img/gallery/slider/6.jpg", thmb: "~/Template/img/gallery/slider/thumbs/6.jpg", alt: "Anna White", title: "Anna White", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquam mi mauris.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
            // { type: "image", image: "~/Template/img/gallery/slider/7.jpg", thmb: "~/Template/img/gallery/slider/thumbs/7.jpg", alt: "Sarah Brown", title: "Sarah Brown", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#000000", descriptionColor: "#000000" },
            // { type: "image", image: "~/Template/img/gallery/slider/8.jpg", thmb: "~/Template/img/gallery/slider/thumbs/8.jpg", alt: "Jessica Black", title: "Jessica Black", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquam mi mauris.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
            // { type: "image", image: "~/Template/img/gallery/slider/9.jpg", thmb: "~/Template/img/gallery/slider/thumbs/9.jpg", alt: "Amelia Thomas", title: "Amelia Thomas", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
            // { type: "image", image: "~/Template/img/gallery/slider/10.jpg", thmb: "~/Template/img/gallery/slider/thumbs/10.jpg", alt: "Laura Brown", title: "Laura Brown", description: "Etiam vitae lobortis nulla nam nisi enim, ultricies eget ex auctor.", titleColor: "#ffffff", descriptionColor: "#ffffff" }
            //];
            jQuery(document).ready(function () {
                "use strict";
                jQuery('html').addClass('hasPag');
                jQuery('.custom_bg').remove();
                jQuery('body').fs_gallery({
                    fx: 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
                    fit: 'no_fit',
                    slide_time: 3300, /*This time must be < then time in css*/
                    autoplay: 1,
                    show_controls: 1,
                    slides: gallery_set
                });
                jQuery('.fs_share').click(function () {
                    jQuery('.fs_fadder').removeClass('hided');
                    jQuery('.fs_sharing_wrapper').removeClass('hided');
                    jQuery('.fs_share_close').removeClass('hided');
                });
                jQuery('.fs_share_close').click(function () {
                    jQuery('.fs_fadder').addClass('hided');
                    jQuery('.fs_sharing_wrapper').addClass('hided');
                    jQuery('.fs_share_close').addClass('hided');
                });
                jQuery('.fs_fadder').click(function () {
                    jQuery('.fs_fadder').addClass('hided');
                    jQuery('.fs_sharing_wrapper').addClass('hided');
                    jQuery('.fs_share_close').addClass('hided');
                });

                jQuery('.fs_controls').addClass('up_me');
                jQuery('.fs_title_wrapper ').addClass('up_me');

                jQuery('.close_controls').click(function () {
                    if (jQuery(this).hasClass('open_controls')) {
                        jQuery('.fs_controls').removeClass('hide_me');
                        jQuery('.fs_title_wrapper ').removeClass('hide_me');
                        jQuery('.fs_thmb_viewport').removeClass('hide_me');
                        jQuery('header.main_header').removeClass('hide_me');
                        jQuery(this).removeClass('open_controls');
                    } else {
                        jQuery('header.main_header').addClass('hide_me');
                        jQuery('.fs_controls').addClass('hide_me');
                        jQuery('.fs_title_wrapper ').addClass('hide_me');
                        jQuery('.fs_thmb_viewport').addClass('hide_me');
                        jQuery(this).addClass('open_controls');
                    }
                });

                jQuery('.main_header').removeClass('hided');
                jQuery('html').addClass('single-gallery');
                jQuery('.control_toggle').click(function () {
                    jQuery('html').toggleClass('hide_controls');
                });
            });
        </script>
        <script type="text/javascript" src="~/Template/js/fs_gallery.js"></script>
    </body>
</html>