
<!DOCTYPE html>
<html class="fullscreen">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">
<title>Diamond | Html Photography Template</title>
<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="all" />
     <link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
</head>
<body>
	<header class="main_header">
    	<div class="header_scroll">
            <div class="header_wrapper">
            	<a href="index.html" class="logo"><img src="img/VGLogo.jpg" alt="" class="logo_def"><img src="img/VGLogo.jpg" alt="" class="logo_retina"></a>                
                <nav>
                	<div class="menu-main-menu-container">
                    	<ul id="menu-main-menu" class="menu">
                        	<li class="current-menu-parent menu-item-has-children">
                            	<a href="#"><span>Trang chủ</span></a>
                               <!-- <ul class="sub-menu">
                                    <li class="current-menu-item"><a href="index.html"><span>Fullscreen Slider</span></a></li>
                                    <li><a href="bg_image.html"><span>Background Image</span></a></li>
                                    <li><a href="bg_video.html"><span>Background Video</span></a></li>                                    
                                </ul>         -->                   
                            </li>
                            <li><a href="about.html"><span>About</span></a></li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Galleries</span></a>
                                <ul class="sub-menu">
                                    <li><a href="gallery_albums.html"><span>Albums</span></a></li>
                                    <li><a href="gallery_kenburns.html"><span>Kenburns</span></a></li>
                                    <li><a href="gallery_ribbon.html"><span>Ribbon</span></a></li>
                                    <li><a href="gallery_grid.html"><span>Grid</span></a></li>
                                    <li><a href="gallery_masonry.html"><span>Masonry</span></a></li>
                                    <li><a href="gallery_grid_with_margin.html"><span>With Margin</span></a></li>
                                    <li><a href="gallery_fullscreen_vertical.html"><span>Portrait Format</span></a></li>
                                    <li><a href="gallery_portrait_landscape.html"><span>Portrait &#038; Landscape</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Works</span></a>
                                <ul class="sub-menu">
                                    <li><a href="portfolio_grid2.html"><span>Grid</span></a></li>
                                    <li><a href="portfolio_grid3.html"><span>Grid with Margin</span></a></li>
                                    <li><a href="portfolio_grid.html"><span>Grid with Title</span></a></li>                                    
                                    <li><a href="portfolio_masonry2.html"><span>Masonry</span></a></li>
                                    <li><a href="portfolio_masonry3.html"><span>Masonry with Margin</span></a></li>
                                    <li><a href="portfolio_masonry.html"><span>Masonry with Title</span></a></li>                                    
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Columns</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="portfolio_1column.html"><span>Portfolio. 1 Column</span></a></li>
                                            <li><a href="portfolio_2columns.html"><span>Portfolio. 2 Columns</span></a></li>
                                            <li><a href="portfolio_3columns.html"><span>Portfolio. 3 Columns</span></a></li>
                                            <li><a href="portfolio_4columns.html"><span>Portfolio. 4 Columns</span></a></li>
                                        </ul>
                                    </li>                                
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Posts</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="portfolio_fullscreen_without_info.html"><span>Fullscreen Slider</span></a></li>
                                            <li><a href="portfolio_simple_fullwidth_video_post.html"><span>Fullscreen Video</span></a></li>
                                            <li><a href="portfolio_video_post_with_info.html"><span>With Info</span></a></li>
                                            <li><a href="portfolio_fullscreen_ribbon_post.html"><span>Ribbon</span></a></li>
                                            <li><a href="portfolio_simple_fullwidth_image_post.html"><span>Simple Fullwidth</span></a></li>
                                            <li><a href="portfolio_simple_post_with_sidebar.html"><span>Simple with Sidebar</span></a></li>
                                        </ul>
                                    </li>
                                </ul>                                
                            </li> 
                            <li class="menu-item-has-children">
                            	<a href="#"><span>News</span></a>
                                <ul class="sub-menu">
                                    <li><a href="fullscreen_blog.html"><span>Fullscreen Blog</span></a></li>
                                    <li><a href="fullwidth_blog.html"><span>Fullwidth Blog</span></a></li>
                                    <li><a href="blog_right_sidebar.html"><span>Right Sidebar</span></a></li>
                                    <li><a href="blog_left_sidebar.html"><span>Left Sidebar</span></a></li>
                                    <li class="menu-item-has-children">
                                    	<a href="#"><span>Posts Variants</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="fullwidth_post.html"><span>Fullwidth Post</span></a></li>
                                            <li><a href="right_sidebar_post.html"><span>Right Sidebar</span></a></li>
                                            <li><a href="left_sidebar_post.html"><span>Left Sidebar</span></a></li>                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Features</span></a>
                                <ul class="sub-menu">
                                    <li><a href="typography.html"><span>Typography</span></a></li>
                                    <li><a href="shortcodes.html"><span>Shortcodes</span></a></li>
                                    <li><a href="404page.html"><span>404 Error</span></a></li>
                                    <li><a href="coming_soon.html"><span>Coming Soon</span></a></li>
                                </ul>                            
                            </li>
                            <li class="menu-item-has-children">
                            	<a href="#"><span>Contact</span></a>
                                <ul class="sub-menu">
                                    <li><a href="contacts_fullscreen.html"><span>Fullscreen</span></a></li>
                                    <li><a href="contacts.html"><span>Simple</span></a></li>
                                </ul>
                            </li>
                        </ul>                    
                    </div>
                </nav>                
                <div class="widget_area">                	
                    <div class="span12">
                    	<div class="sidepanel widget_text">
                        	<div class="textwidget">
                            	<div class="center_text">
                                	<img src="img/imgs/widget.jpg" alt="" class="header_widget" />
                                    <h6>Hello And Welcome</h6>
                                    to Black Diamond photo studio! Glad to see you here!
                                </div>
                            </div>		
                        </div>
                    </div>        		
                </div>            
            </div><!-- Header Wrapper -->
            <div class="footer_wrapper">            
                <div class="socials_wrapper">
                    <ul class="socials_list">
                    	<li><a class="ico_social_facebook" target="_blank" href="http://facebook.com" title="Facebook"></a></li>
                        <li><a class="ico_social_pinterest" target="_blank" href="http://pinterest.com" title="Pinterest"></a></li>
                        <li><a class="ico_social_instagram" target="_blank" href="http://instagram.com" title="Instagram"></a></li>
                        <li><a class="ico_social_flickr" target="_blank" href="http://flickr.com" title="Flickr"></a></li>
                    </ul>
                </div>
                <div class="copyright">Copyright &copy; Black Diamond.<br>All Rights Reserved</div>
            </div><!-- footer_wrapper -->
    	</div>
	</header>
    
	<a href="javascript:void(0)" class="control_toggle"></a>
    
    <div class="custom_bg img_bg def_bg"></div>
    
    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="js/modules.js"></script>
	<script type="text/javascript" src="js/theme.js"></script>
    <script>
        gallery_set = [
            { type: "image", image: "img/gallery/slider/1.jpg", thmb: "img/gallery/slider/thumbs/1.jpg", alt: "Sarah Brown", title: "Sarah Brown", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#ffffff", descriptionColor: "#ffffff" }
        ];
        //gallery_set = [
        // { type: "image", image: "img/gallery/slider/1.jpg", thmb: "img/gallery/slider/thumbs/1.jpg", alt: "Sarah Brown", title: "Sarah Brown", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
        // { type: "image", image: "img/gallery/slider/2.jpg", thmb: "img/gallery/slider/thumbs/2.jpg", alt: "", title: "", description: "", titleColor: "#000000", descriptionColor: "#000000" },
        // { type: "vimeo", uniqid: "4675", src: "115819122", thmb: "img/gallery/slider/thumbs/3.jpg", alt: "", title: "", description: "", titleColor: "#000000", descriptionColor: "#000000" },
        // { type: "image", image: "img/gallery/slider/4.jpg", thmb: "img/gallery/slider/thumbs/4.jpg", alt: "Jessica Black", title: "Jessica Black", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquam mi mauris.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
        // { type: "image", image: "img/gallery/slider/5.jpg", thmb: "img/gallery/slider/thumbs/5.jpg", alt: "", title: "", description: "", titleColor: "#000000", descriptionColor: "#000000" },
        // { type: "image", image: "img/gallery/slider/6.jpg", thmb: "img/gallery/slider/thumbs/6.jpg", alt: "Anna White", title: "Anna White", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquam mi mauris.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
        // { type: "image", image: "img/gallery/slider/7.jpg", thmb: "img/gallery/slider/thumbs/7.jpg", alt: "Sarah Brown", title: "Sarah Brown", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#000000", descriptionColor: "#000000" },
        // { type: "image", image: "img/gallery/slider/8.jpg", thmb: "img/gallery/slider/thumbs/8.jpg", alt: "Jessica Black", title: "Jessica Black", description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit aliquam mi mauris.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
        // { type: "image", image: "img/gallery/slider/9.jpg", thmb: "img/gallery/slider/thumbs/9.jpg", alt: "Amelia Thomas", title: "Amelia Thomas", description: "Curabitur condimentum pharetra metus, sit amet facilisis ante laoreet rutrum.", titleColor: "#ffffff", descriptionColor: "#ffffff" },
        // { type: "image", image: "img/gallery/slider/10.jpg", thmb: "img/gallery/slider/thumbs/10.jpg", alt: "Laura Brown", title: "Laura Brown", description: "Etiam vitae lobortis nulla nam nisi enim, ultricies eget ex auctor.", titleColor: "#ffffff", descriptionColor: "#ffffff" }
        //];
        jQuery(document).ready(function () {
            "use strict";
            jQuery('html').addClass('hasPag');
            jQuery('.custom_bg').remove();
            jQuery('body').fs_gallery({
                fx: 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
                fit: 'no_fit',
                slide_time: 3300, /*This time must be < then time in css*/
                autoplay: 1,
                show_controls: 1,
                slides: gallery_set
            });
            jQuery('.fs_share').click(function () {
                jQuery('.fs_fadder').removeClass('hided');
                jQuery('.fs_sharing_wrapper').removeClass('hided');
                jQuery('.fs_share_close').removeClass('hided');
            });
            jQuery('.fs_share_close').click(function () {
                jQuery('.fs_fadder').addClass('hided');
                jQuery('.fs_sharing_wrapper').addClass('hided');
                jQuery('.fs_share_close').addClass('hided');
            });
            jQuery('.fs_fadder').click(function () {
                jQuery('.fs_fadder').addClass('hided');
                jQuery('.fs_sharing_wrapper').addClass('hided');
                jQuery('.fs_share_close').addClass('hided');
            });

            jQuery('.fs_controls').addClass('up_me');
            jQuery('.fs_title_wrapper ').addClass('up_me');

            jQuery('.close_controls').click(function () {
                if (jQuery(this).hasClass('open_controls')) {
                    jQuery('.fs_controls').removeClass('hide_me');
                    jQuery('.fs_title_wrapper ').removeClass('hide_me');
                    jQuery('.fs_thmb_viewport').removeClass('hide_me');
                    jQuery('header.main_header').removeClass('hide_me');
                    jQuery(this).removeClass('open_controls');
                } else {
                    jQuery('header.main_header').addClass('hide_me');
                    jQuery('.fs_controls').addClass('hide_me');
                    jQuery('.fs_title_wrapper ').addClass('hide_me');
                    jQuery('.fs_thmb_viewport').addClass('hide_me');
                    jQuery(this).addClass('open_controls');
                }
            });

            jQuery('.main_header').removeClass('hided');
            jQuery('html').addClass('single-gallery');
            jQuery('.control_toggle').click(function () {
                jQuery('html').toggleClass('hide_controls');
            });
        });
	</script>
    <script type="text/javascript" src="js/fs_gallery.js"></script>
</body>
</html>